.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body.sidebar-open {
  overflow: hidden;
}

.w-76 {
  width: 19rem;
}

.bg-blue-chart {
  background-color: #8884d8;
}

.bg-green-chart {
  background-color: #82ca9d;
}

.text-blue-chart {
  color: #8884d8;
}

.text-green-chart {
  color: #82ca9d;
}